@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-teams {
    font-family: "Segoe UI", system-ui, -apple-system, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji",
      "Segoe UI Emoji";
  }
}
